@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}
*{
	margin: 0;
	padding: 0;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {
height: 100%;
}

body {
	height: 100%;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background-color: #fffafa;
}

header {
    width: 100%;
    background-color: #daa5a5;
    top: 0;
    position: fixed;
}

header p {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: white;
    padding: 15px 0;
}

.box {
    display: flex;
    height: 85%;
}

.contents {
    padding: 10px;
    width: 20%;
    height: 100%;
    border-right: 2px solid #bc8f8f;
    margin-top: 75px;
    position: fixed;
}

.item {
    margin-bottom: 10px;
}

label {
    color: #a27878;
}

select {
    border-radius: 4px;
    border: 1px solid #bc8f8f;
    padding: 5px;
}

button {
    border-radius: 4px;
    border: 1px solid #bc8f8f;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 13px;
}

.body {
    margin-left: 20%;
    margin-top: 100px;
    width: 100%;
}

.box2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 5%;
    gap: 15px;
    padding-bottom: 120px;
}

.products {
    border: 2px solid #daa5a5;
    border-radius: 8px;
    background-color: white;
}

.title {
    border-bottom: 2px solid #daa5a5;
    text-align: center;
}

.img {
    padding-top: 1px;
    width: 200px;
    height: 260px;
}

.img img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.bottom {
    padding-top: 2px;
    display: flex;
    border-top: 2px solid #daa5a5;
}

.name p {
    color: black;
}

.like {
    margin-left: auto;
    margin-right: 4px;
}

#favorite {
    border: none;
    background-color: white;
}

.change {
    color: #c30;
}

footer {
    width: 100%;
    background-color: #bc8f8f;
    position: fixed;
    bottom: 0;
    padding-left: 10%; 
    padding-right: 10%; 
    padding-top: 10px;
    padding-bottom: 5px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu .material-symbols-outlined {
    font-size: 45px;
    color: #f5f5f5;
}